  .Base {
    overflow: hidden;
  }

  .Background {
    background-color: #282c34;
    min-height: 100vh;
    z-index: 0;
  }

  .Foreground {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100%;
    font-size: calc(20px + 2vmin);
    color: white;
    z-index: 3;
  }
  
  .SwitchLanguage{
    position: absolute;
    top: 0;
    right: 0;
  }

  .Flag img{
    width: 70px;
    height: auto; 
  }

  .Cadre {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
  }
  .SazuPhoto {
    width: 100%;
    height: auto;
  }

  .Rodrigue {
    margin-top:2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }


  .Competence {
    height: 100vh;
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  